/* * {
  box-sizing: border-box;
} */

body {
  background-color: yellowgreen;
}

.grid {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  border-style: solid;
  background-image: url(https://wallpapercave.com/wp/wp2409705.jpg);
  background-size: contain;
  justify-items: center;
}

.grid div {
  width: 40px;
  height: 40px;
}

.snake {
  background-color: blue;
}

.apple {
  background-color: purple;
}
